@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Handlee', cursive;
}

#mainNav, footer {   
    background-color: #ffd9c7;
}

body {
    background-color:  #fff7f5;
    font-family: 'Open Sans', sans-serif;
}

.text-header {
    font-family: 'Handlee', cursive;
}

.text-regular {
    font-family: 'Open Sans', sans-serif;
}

#mainNav .nav-link {
    font-size: 1.5em;
}

#mainNav .nav-item {
    transition-property: background-color;
    transition-duration: 0.25s;
    border-radius: 14%;
}

#mainNav .nav-item:hover {
    background-color: #ffeee6;
}

#mainNav .nav-link-small {
    font-size: 1em;
}

#mainNav .nav-item-small:hover {
    background-color: transparent;
    
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-card {
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 0.2s; 
}

.my-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}