.carousel-img {
    object-fit: cover;
    min-height: 100%;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.carousel-caption {
    background-color: rgba(0,0,0, 0.25);
    right: 0;
    left: 0;
    bottom: 0;
}

.carousel-inner > .carousel-item {
    background-color: #000000;
    height: 100vh;
}

#frontPageCarousel {
    width: 100%;
    height: 100vh;
}

#searchHeader {
    width: 100%;
    height: 37vh;
    background-repeat: no-repeat;
    opacity: 0.8;
    background: linear-gradient(transparent, #fff7f5), url("http://vaccinateyourpet.net/sites/vaccinateyourpet/files/banner-dog-cat_1.jpg") ;
    background-size: cover;
    background-position: center; 
}

.screen-page {
    min-height: 100vh;
}

#featuredArticlesPageBackground {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background: linear-gradient(#fff7f5, transparent), url("https://www.petinsurance.com/en/healthzone/pet-articles/pet-health/~/media/BFC9DB459BD64DB5BDBF711C7A9BA9CD.ashx?as=1&&h=160&w=240") ;
    background-size: cover;
    background-position: center; 
}

.overlay-centered {
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#mainNav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100000000;
}

#mainNav .nav-link {
    color: #fff;
}

#mainNav .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.514);
}

@media (max-width: 992px) { 
    #mainNav {
        background-color: rgba(0, 0, 0, 0.7)
    }
}