.carousel-img {
    object-fit: cover;
    min-height: 100%;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;
}

/* .carousel-img:hover {
    opacity: 0.5;
} */

.carousel-caption {
    background-color: rgba(0,0,0, 0.25);
    /* background-color: rgba(252,218,201, 0.4); */
    right: 0;
    left: 0;
    bottom: 0;
    /* color: #000000; */
}

.carousel-item {
    background-color: #000000;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-overlay-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
