{% load staticfiles %}
<!DOCTYPE HTML>

<html lang="en-US">
<head>
  <meta charset="UTF-8">

  <script src="{% static 'lib/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <script src="{% static 'js/sendRequest.js' %}"></script>
  <script src="{% static 'js/getCookie.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script>
  $(() => {
    $("#loginModalButton").on("click", () => {
      const $modalContainer = $("#loginRegisterModalContainer")
      $modalContainer.load($("#loginModalButton").attr("data-url"), () => {
        $("#loginModal").modal("show")
      })
    })
  })
  </script>

  {% block extra_head %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}

  <!-- title may be moved to specific pages -->
  <title>Lucky Paw</title>
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/ico" />
</head>

<body>
  <header>
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img style="width: auto; height: 48px;" class="d-sm-inline-block d-none align-top" src="{% static 'images/logo.png' %}">
          <h1 class="d-sm-inline-block d-none align-top"> Lucky Paw</h1>
          <img style="width: auto; height: 36px;" class="d-sm-none d-inline-block align-top" src="{% static 'images/logo.png' %}">
          <h1 class="d-sm-none d-inline-block h2 align-top"> Lucky Paw</h1>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul id="mainNav" class="navbar-nav ml-auto">
            <li class="nav-item">
              {% url 'about' as url %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">About</a>
            </li>
            <li class="nav-item">
                {% url 'search' as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Search</a>
              </li>
            <li class="nav-item">
                {% url 'contact' as url %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a>
            </li>
            <li class="nav-item">
                {% url 'blog' as url %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Blog</a>
            </li>
            <li class="nav-item">
                {% url 'support' as url %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Support us</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link nav-item-small" href="{% url 'user_profile' username=request.user.username %}">Profile({{ request.user.username }})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-item-small" href="{% url "logout" %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link nav-item-small" id="loginModalButton" data-url="{% url 'login_register_modal' %}" href="#login">Login/Register</a>
              </li>
              <div id="loginRegisterModalContainer"></div>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block extra_header %}
    {% endblock extra_header %}
  </header>

  <main class="container my-4">
    {% block content %}
    {% endblock content %}
  </main>

  <div class="py-5"></div>
  <footer class="py-3">
    <div class="container">
      <p class="m-0 text-center">Lucky Paw 2018</p>
    </div>
  </footer>
</body>
</html>