{% extends 'app/base.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}


<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="my-4">All articles</h1>


    {% for article in articles %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }} – head image">
          <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.body|truncatechars_html:220 }}</p>
            <a href="{% url 'article' id=article.id %}" class="btn btn-info">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">Published on {{ article.date_published }} <span class="float-right"><i class="fa fa-eye"></i> {{ article.view_count }}</span></div>
        </div>
    {% endfor %}

  </div>
  
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.row -->

{% endblock %}