{% extends 'app/base.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}


<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    {% if request.GET.q %}
      <h1 class="my-4 mr-3 d-inline-block">Results for '{{ request.GET.q }}'</h1><span ><a href="{% url 'blog' %}">return to all</a></span>
    {% else %}
      <h1 class="my-4">All articles</h1>
    {% endif %}


    {% for article in articles %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }} – head image">
          <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.body|truncatechars_html:220 }}</p>
            <a href="{% url 'article' id=article.id %}" class="btn btn-info">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">Published on {{ article.date_published }} <span class="float-right"><i class="fa fa-eye"></i> {{ article.view_count }}</span></div>
        </div>
    {% empty %}
        <h2 class="mt-4">No posts found :(</h2>
    {% endfor %}

  </div>
  
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <form method="GET" action="">
          <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search for..." value="{{ request.GET.q }}">
            <span class="input-group-btn">
              <input class="btn btn-info text-header" type="submit" value="Go!" />
            </span>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
<!-- /.row -->

{% endblock %}