{% extends 'app/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block extra_head %}
<script>
  $(() => {
    $('.form-group').children('label').remove()
  })
</script>
{% endblock %}

{% block content %}

<div class="container col-md-8 mb-5">

    <div class="form-area">
      <form role="form" enctype="multipart/form-data" action="" method="post">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">Contact Us</h3>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button class="btn btn btn-info pull-right" type="submit">Send</button>
      </form>
    </div>
</div>

{% endblock %}