<style>

</style>

<div class="row mt-5">
{% for article in feat_articles %}
    <div class="col-md-4 col-sm-6 shadow-sm">
        <!-- <a href="{% url 'article' id=article.id %}" style="text-decoration: none;"> -->
            <div class="card shadow-sm">
                <img class="card-img-top" style="object-fit: cover; min-height: 60%" src="{{ article.photo.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text text-dark text-regular">{{ article.body|truncatechars_html:180 }} <a href="{% url 'article' id=article.id %}" class="text-header">Read more</a></p>
                </div>
            </div>
        <!-- </a> -->
    </div>
{% empty %}
        <h4> No pets were found :(</h4>
{% endfor %}
</div>
