{% load staticfiles %}
<!DOCTYPE HTML>

<html lang="en-US">

<head>
  <title>Welcome to Lucky Paw!</title>
  {% include 'app/base_head.html' %}

  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script>
    $(() => {
      const fcn = () => {
        const $nav = $("#mainNav")
        $nav.addClass(["navbar-dark"])
        $nav.find(".nav-link").addClass('text-white')
        $(".carousel-inner > .carousel-item").css({ "height": "100vh" })
        $("#carouselExampleIndicators").css("position", "absolute")
      }
      fcn()

      $('#featuredArticles').load($('#featuredArticles').attr("data-url"))
      $("#searchPets").load($("#searchPets").attr("data-url"))

    })

    $(document).ready(function () {
      $('.btn-scroll-to').click(function() {
        $('html, body').animate({
          scrollTop: $("#" + $(this).attr('data-scroll-to')).offset().top
        }, 1000)
      })
    })
  </script>
</head>

<body>
  <header>
    {% include 'app/base_nav.html' %}

    <div id="frontPageCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 carousel-img" src="{% static 'images/carousel-1.jpeg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="{% static 'images/carousel-2.jpeg' %}" alt="Second slide">

        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="{% static 'images/carousel-3.jpeg' %}" alt="Third slide">
        </div>
      </div>
      <div class="container mt-5 text-white overlay-centered">
        <h1 class="display-4">Don't buy. Adopt.</h1>
        <p class="h4 font-weight-normal">
          This is the main page of Lucky Paw - a service aimed at helping homless animals find their ideal owners. We are working very
          hard to complete the service. More functionality and awesomeness will be included in the near future.
          <br/> See You soon ~/ᐠ｡ꞈ｡ᐟ\~
        </p>

        <p>
          <button class="btn btn-dark btn-lg btn-scroll-to" data-scroll-to="featuredArticlesPage" role="button">Check out featured articles!</button>
          <button class="btn btn-dark btn-lg btn-scroll-to" data-scroll-to="searchPetsPage" role="button">Find the perfect pet!</button>
          <!-- <a class="btn btn-dark btn-lg" href="https://github.com/souserge/luckypaw" role="button">
            <img class="img-fluid" style="max-width: 2em; height: auto;" src="{% static 'images/Octocat.png' %}"> Github repo</a> -->
        </p>
      </div>
    </div>
  </header>

  <div class="screen-page" id="searchPetsPage">
    <div style="background-color: #fff7f5;position: relative;">
      <h1 class="display-5  text-black overlay-centered" style="z-index: 10;width:100%;text-align: center;">Make the world a better place by adopting a pet!</h1>
      <div id="searchHeader"></div>
    </div>

    <div class="container mt-3">
      <h5 class="text-muted">Select the properties and click 'Find your pet'</h5>
      <div class="mt-1" id="searchPets" data-url="{% url 'pet_list' %}"></div>
    </div>
  </div>

  <div class="screen-page">
    <div id="featuredArticlesPage" class="pb-3 screen-page">
      <div class="py-5 container">
        <h1 style="width:100%;text-align: center;">Don't know where to start from? Check out these articles</h1>
        <div class="container" id="featuredArticles" data-url="{% url 'featured_articles' %}"></div>
        <button class="btn btn-lg btn-link btn-scroll-to float-lg-right mt-3" data-scroll-to="frontPageCarousel" role="button">Return to top &uarr;</button>
      </div>
    </div>
    <footer class="py-3">
      <div class="text-dark text-center container">Copyright © Lucky Paw 2018</div>
    </footer>
  </div>

</body>

</html>