{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row justify-content-around">
  <div class="col-lg-7">
    <div class="container my-1" id="photos">
      <img class="img-fluid" style="max-width: 100%; min-height: 500px" src="{{ pet.pet_photo.url }}"></img>
    </div>
    <div class="container mt-3" id="description">
      <div class="jumbotron">
        <h3>{{ pet.pet_name }}</h3>
        <table class="table">
          <tr>
            <th scope="row">Type</th>
            <td>{{ pet.pet_type }}</td>
          </tr>
          <tr>
            <th scope="row">Breed</th>
            <td>{{ pet.pet_breed }}</td>
          </tr>
          <tr>
            <th scope="row">Age</th>
            <td>{{ pet.pet_age }}</td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>{{ pet.pet_color }}</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>{{ pet.pet_gender }}</td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>{{ pet.pet_size }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="container col my-1" id="contactInfo">
      <h4>Contact Info</h4>
      <iframe
        width="100%"
        height="400px"
        frameborder="0" style="border:0; max-width: 100%;"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvN0mkItEWA_SN3dcT_Hsw_3eR5eAcTaw&q={{pet.pet_location}}" allowfullscreen>
      </iframe>
    </div>
    <div class="container col mt-5" id="stats">
      <h4>{{ pet.pet_name }}'s  Stats</h4>
        <table class="table">
        <tr>
          <td>
            {% if pet.pet_spayed %}
              <i class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Sprayed</td>
        </tr>
        <tr>
          <td>
            {% if pet.pet_vaccinated %}
              <i class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Vaccinated</td>
        </tr>
        <tr>
          <td>
            {% if pet.pet_housetrained %}
              <i class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Housetrained</td>
        </tr>

        {% if pet.pet_specialcare %}
          <tr>
            <td><i class="fa fa-exclamation"></i></td>
            <td>Needs special care</td>
          </tr>
        {% endif %}
        </table>
    </div>
  </div>
</div>
{% endblock %}