{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row justify-content-around">
  <div class="col-lg-7">
    <div class="container my-1" id="photos">
      <img class="img-rounded img-responsive img-fluid"  src="{{ pet.photo.url }}"></img>
    </div>
    <div class="container mt-3" id="description">
      <div class="jumbotron">
        <h3>{{ pet.name }}</h3>
        {% if request.user.is_superuser or request.user == pet.supervisor.user %}
          <p><a href="{% url 'pet_edit' id=pet.id %}">Edit profile</a></p>
        {% endif %}
        <table class="table">
          <tr>
            <th scope="row">Type</th>
            <td>{{ pet.animaltype }}</td>
          </tr>
          <tr>
            <th scope="row">Breed</th>
            <td>{{ pet.breed }}</td>
          </tr>
          <tr>
            <th scope="row">Age</th>
            <td>{{ pet.age }}</td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>{{ pet.color }}</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>{{ pet.gender }}</td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>{{ pet.size }}</td>
          </tr>
        </table>
          <p class="lead">
            <strong>About:</strong><br>
            {{ pet.description }}
          </p>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="container col my-1" id="contactInfo">
      <h4>Contact Info</h4>
      <p>Location: {{ pet.location }}</p>
      <div class="mb-3 embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          frameborder="0" style="border:0; max-width: 100%;"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvN0mkItEWA_SN3dcT_Hsw_3eR5eAcTaw&q={{pet.location}}" allowfullscreen>
        </iframe>
      </div>
      <p class="text-right">
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Want to concact supervisor?
      </a>
      </p>
      <div class="container mx-auto">
      <div class="collapse" id="collapseExample">
        {% if supervisor %}
          <div class="card card-body">
              <p><a href="{% url 'user_profile' username=supervisor.user.username %}">{{ supervisor.user.get_full_name }}</a></p>
              <p>Phone: {{ supervisor.telephone }}</p>
              <p>Email: {{ supervisor.user.email }}</p> 
          </div>
        {% else %}
        <p>Oh no, this pet is not supervised :(</p>
        {% endif %}
      </div>
    </div>
    </div>
    <div class="container col mt-5" id="stats">
      <h4>{{ pet.name }}'s  Stats</h4>
        <table class="table">
        <tr>
          <td>
            {% if pet.spayed %}
              <i style="color: green;" class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Sprayed</td>
        </tr>
        <tr>
          <td>
            {% if pet.vaccinated %}
              <i style="color: green;" class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Vaccinated</td>
        </tr>
        <tr>
          <td>
            {% if pet.housetrained %}
              <i style="color: green;" class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-close"></i>
            {% endif %}
          </td>
          <td>Housetrained</td>
        </tr>

        {% if pet.specialcare %}
          <tr>
            <td><i style="color: orange;" class="fa fa-exclamation"></i></td>
            <td>Needs special care</td>
          </tr>
        {% endif %}
        </table>
    </div>
  </div>
</div>
{% endblock %}