{% extends 'app/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/pet_card.css' %}">
<script>
  $(() => {
    $(".pet-filter > .form-group").addClass('d-inline-block col-md-3')
  })
</script>
{% endblock %}

{% block content %}
    <form method="get">
      <div class="container pet-filter">
        {{ base_filter.form|as_bootstrap }}
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Show advanced filters <i class="fa fa-angle-down"></i>
        </a>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="container pet-filter">
          {{ advanced_filter.form|as_bootstrap }}
        </div>
      </div>
      <button class="ml-1 btn btn-info d-block" type="submit">Find your pet</button>
    </form>
    {% include 'app/pets_cards.html' with pets=pets %}
{% endblock %}