{% extends 'app/base.html' %}
{% load bootstrap_tags %}

{% block scripts %}
<script>
  $(() => {
    $("#basePetFilters > .form-group").addClass('d-inline-block col-md-3  ')
  })
</script>
{% endblock %}


<!-- Serhii, USE base_filter and advanced_fiter -->

{% block content %}
  {% if filter %}
    <form method="get">
      <div class="container" id="basePetFilters">
        {{ filter.form|as_bootstrap_horizontal }}
      </div>
      <button class="ml-1 btn btn-info d-block" type="submit">Search</button>
    </form>
  {% endif %}

  <div class="row mt-5">
  {% for pet in filter.qs %}
    <div class="col-md-4 mb-5  mb-md-0">
      <div class="card" style="height:100%;">
        <img class="card-img-top" src="{{ pet.photo.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ pet.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ pet.location }}</h6>
          <p class="card-text">{{ pet.animaltype }}, {% if pet.breed %}{{ pet.breed }}, {% endif %}{{ pet.age}}</p>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}
      </div><div class="row mt-md-5">
    {% endif %}
  {% empty %}
        <h4> No pets were found :(</h4>
  {% endfor %}
  </div>
{% endblock %}