{% extends 'app/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block extra_head %}
<script>
  $(() => {
    $("#deleteModalButton").on("click", () => {
      const $modalContainer = $("#deleteModalContainer")
      $modalContainer.load($("#deleteModalButton").attr("data-url"), () => {
        $("#deleteModal").modal("show")
      })
    })
  })
</script>


<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/basic-upload.js' %}"></script>

{% endblock %}


{% block content %}

<form class="container col-md-9 mb-5" enctype="multipart/form-data" action="" method="post">
  <div class="mb-2 mt-5">
    <h2 class="d-inline-block">Edit {{ pet.name }}'s info </h2>
    {% if not pet.adopted %}
      <a href="#" class="btn btn-success d-inline-block float-right">Mark as adopted</a>
    {% else %}
      <i class="d-inline-block"> (adopted)</i>
      <a href="#" class="d-inline-block float-right">Not adopted? Click to unadopt.</a>
    {% endif %}
  </div>
  {% csrf_token %}
  {{ pet_form|as_bootstrap }}

  <div>
    {# 1. BUTTON TO TRIGGER THE ACTION #}
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>
    
    {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
    <input id="fileupload" type="file" name="image" multiple
          style="display: none;"
          data-url="{% url 'pet_upload_photo' id=id %}"
          data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    
    {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
    <div id="gallery" class="row text-center text-lg-left mt-3">
      {% for photo in pet.photos %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <img class="img-fluid img-thumbnail" src="{{ photo.url }}" alt="{{ photo.name }}">
        </div>
      {% endfor %}
    </div>

    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Uploading...</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="progress">

              <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <button class="btn btn btn-info d-inline-block mt-5" type="submit"><i class="fa fa-save"></i> Save changes</button>

  <a class="btn btn btn-danger d-inline-block float-right align-middle mt-5" id="deleteModalButton" data-url="{% url 'pet_delete' id=id %}" href="#delete"><i class="fa fa-trash"></i> Delete pet</a>
  <div id="deleteModalContainer"></div>
</form>
{% endblock %}