{% extends 'app/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Search Pets{% endblock %}


{% block extra_head %}
<script>
  $(() => {
    const $petList = $('#petList')
    $petList.load($petList.attr('data-url'), () => { loadPetCards() })

  })
</script>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <h1>Find your perfect pet!</h1>
    <p class="text-muted">Fill in the parameters of your perfect pet. Click on the button and find it!</p>
  </div>
  <div id="petList" data-url="{% url 'pet_list' %}"></div>
{% endblock %}