{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}Support Us{% endblock %}


{% block extra_head %}
{% endblock %}

{% block content %}
<h1>Support Us</h1>
<p>We are a non-profit group of students who work hard to deliver the best experience and, by doing so, help homeless animals find home filled with care and loving. Please, help us in our endeavour by leaving a small donation. Every endowment will be used to improve our service.</p>
<p class="lead">Support us by pressing the buttol below: </p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="UF7H2V4GS97AN">
    <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    

{% endblock %}