<script>
  function eventFire(el, etype) {
    if (el.fireEvent) {
      el.fireEvent('on' + etype)
    } else {
      let evObj = document.createEvent('Events')
      evObj.initEvent(etype, true, false)
      el.dispatchEvent(evObj)
    }
  }

  $(() => {
    $('form').find('input').addClass('form-control')
    $('form').submit(function(event) {
      event.preventDefault()
      let elem = $(this)
      const url =  elem.attr('data-url')
      const data = elem.serialize()
      $.post(url, data)
        .done((response) => {
          console.log("success")
          location.replace(response)
        })
        .fail((xhr,errmsg,err) => {
          const errors = JSON.parse(xhr.responseText)
          for (let key in errors) {
            if (!errors.hasOwnProperty(key)) {
              continue;
            }
            let beforeElem;
            if (key === '__all__') {
              beforeElem = elem.children().last()
            } else {
              beforeElem = elem.find('#id_' + key)
              beforeElem.addClass('is-invalid')
              beforeElem.on('change paste keyup', (event) => {
                beforeElem.removeClass('is-invalid')
                elem.find('.error_' + key).remove()
                elem.find('.error___all__').remove()
              })
            }
            errors[key].forEach(errorMsg => {

              const errorElem = $(`<p></p>`)
              errorElem.addClass('error_' + key)
              const smallElem = $(`<small></small>`)
              smallElem.addClass('text-danger')
              smallElem.text(errorMsg)
              errorElem.append(smallElem)
              beforeElem.before(errorElem)
            })
          }
        })
    })
  })
</script>



<div class="modal fade bs-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="why-tab" data-toggle="tab" href="#why" role="tab" aria-controls="why" aria-selected="false">Why?</a>
            </li>
          </ul>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      
      <div class="modal-body">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form method="post" data-url="{% url 'login' %}">
              {% csrf_token %} {{ login_form.as_p|safe }}
              <button class="btn btn-success" type="submit">Login</button>
            </form>
            <hr>
            <a class="btn btn-block btn-social btn-md btn-google mt-2" href="{% url 'social:begin' 'google-oauth2' %}">
              <i class="fa fa-google"></i>Login with Google
            </a>
          </div>
          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form method="post" data-url="{% url 'register' %}">
              {% csrf_token %} {{ register_form.as_p }}
              <button class="btn  btn-success" type="submit">Register</button>
            </form>
          </div>
          <div class="tab-pane fade" id="why" role="tabpanel" aria-labelledby="why-tab">
            Lucky Paw can also be used for people who seek home for a pet.
            <br>
            If you are one of them, please
             <a href="#register" onclick="eventFire(document.getElementById('register-tab'),'click');">register</a>
             yourself or <a href="{% url 'social:begin' 'google-oauth2' %}">login with Google</a>
             and <strong>start making the world a better place!</strong>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>